/*Contenu*/

.contenu .titre {
    text-align: center;



}

.contenu .titre h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}

.contenu .texte {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.titreEtTexte {
    /*background-color: white;*/
    border-radius: 100px;
    margin-bottom: 500px;
    padding-top: 0px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    margin-top: 18px;




}

.titreEtTexteTESTI {
    transform: translateX(18vw) translateY(0vw);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    z-index: -6;

}

.contenuVente {
    transform: translateX(0vw);
    transform: scale(1);
    transition-duration: 0.2s;
    opacity: 1;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.contenuMove {
    opacity: 0;
    transform: translateX(40vw);
    transform: scale(0.9);
    transition-duration: 0.2s;
    transition-property: all;

    transition-timing-function: ease-in-out;


}

/*
.animationContenu {
    animation-name: animationContenu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* sens de l'animation*/

/*animation-fill-mode: backwards;/*etat de debut ou final*/

}

/*
@keyframes animationContenu {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

.displayNone {
    display: none;
}

/*
.fond {
    width: 1095px;
    height: 929px;
    background-image: url(../images/image%20de%20fond%20test%202.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 40px;
    left: 450px;

}

*/

.fond {
    opacity: 1;
}

@media(max-width: 1100px) {
    .fond {
        opacity: 0;
        display: none;
    }
}

.imgEquipe {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/LogoAudaceAC-OR.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background-position: center;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgEquipe2 {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/equipe.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}






.imgQualite {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Nos%20valeurs.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 0.9;

    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgTestimonial {
    width: 795px;
    height: 829px;
    background-image: url(../images/Testimonial.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;
    top: 250px;
    right: 22%;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgSolution {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/DDF.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgPedagogie {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Qualite.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.imgFormation {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Formations.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.imgDigitale {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Digital%20learning.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}


.imgManSch {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Management-school.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}
.imgSellSch {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Selling-school.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.opacityM {
    opacity: 0;
}



.None {
    display: none;
}

.display {
    display: inline-block;
}

@media(max-width: 850px) {
    .titreDiv {
        text-align: center;
    }
    .titreDiv div {
        display: inline-block;
    }

    .mobileTestiImg {


        width: 250px;
        height: 250px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mobileQSN {
        background-image: url(../images/LogoAudaceAC-OR.png);
    }
    .mobileQSNSolution {
        background-image: url(../images/DDF.png);
    }


    .mobileValeur {
        background-image: url(../images/Nos%20valeurs.png);

    }
    .mobileEquipe {
        background-image: url(../images/equipe.png);

    }
    .mobilePedagogie {
        background-image: url(../images/Qualite.png);

    }

    .mobileTesti {
        background-image: url(../images/Testimonial.png);

    }
    
        .mobileDigital {
        background-image: url(../images/Digital%20learning.png);

    }
       .mobileManSch {
        background-image: url(../images/Management-school.png);

    }
       .mobileSellSch {
        background-image: url(../images/Selling-school.png);

    }
    
     

    .contenu .texte {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #707070;
        font-size: 14px;
        margin-top: 40px;
    }
    .titreEtTexte {
        /*background-color: white;*/
        border-radius: 100px;
        margin-bottom: 100px;
        padding-top: 0px;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        margin-top: 18px;
    }
    .contenu .titre h1 {

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #E00034;
        font-size: 32px;
    }
}
