/*POLICE

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

categorie : roboto
sous-onglet : montserrat
*/

/*le test bootstrap
<div class="test col-lg-1 col-lg-offset-1"></div>

.test{
    width: 100;
    background-color: aqua;
}

menu burger seuil 969

fonction de recherche
*/

/*menu de navigation*/

body {
    margin: 0px;
    padding: 0px;
}

.menuContainer {
    margin: 0px;
    padding: 0px;
    height: 60px;
    z-index: 0;





}


.menu {

    height: 60px;
    margin: 0px 0px 0px 6%;
    padding: 0px;
    position: relative;
    background-color: white;

}

.imgLogo {
    width: 100;
    margin: 0px;
    padding: 0px;
    position: absolute;

}

.imgLogo img {
    width: 65px;
    margin: 0px;
    padding: 0px;
    transition-duration: 2s;
}

@media(max-width: 1200px) {
    .imgLogo img {
        width: 65px;
        margin: 0px;
        padding: 0px;
        transition-duration: 2s;
        transition-property: all;
    }

}

.imgLogo img:hover {
    animation-name: animationLogo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;

    transform-origin: center;
    /* sens de l'animation*/
    /*animation-fill-mode: backwards;/*etat de debut ou final*/
}

@keyframes animationLogo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}


.category {
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

.category a {
    font-size: 17px;
    text-decoration: none;
    color: #878787;
    transition-duration: 0.5s;
    font-weight: 400;
}

@media(max-width: 1320px) {
    .category {
        font-family: 'Montserrat', sans-serif;
        margin-top: 19px;

    }
    .category a {
        font-size: 15px;
        text-decoration: none;
        color: #707070;
        transition-duration: 0.5s;
        font-weight: 400;
    }

}

@media(min-width: 1320px) and (max-width: 1440px) {
    .category {
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;

    }
    .category a {
        font-size: 17px;
        text-decoration: none;
        color: #707070;
        transition-duration: 0.5s;
    }

}

.menu .category {
    margin-right: -70px;
}

@media(max-width: 1200px) {
    .menu .category {
        margin-right: -50px;
    }

}

@media(max-width: 990px) {
    .menu .category {
        margin-right: -30px;
    }

}

.category a:hover {
    color: #E00034;
    transition-duration: 0.5s;
}


.underMenuDiv {
    padding: 0px;

}

.underMenu {
    height: 1.5px;
    margin-top: 0px;
    background-color: #E1E1E1;
}

/*sous menu*/

.secondMenu {
    height: 50px;
    padding-top: 10px;
    padding-left: 23%;
    background-color: white;


}

.sousMenu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #878787;
    font-size: 14px;
    transition-duration: 0.5s;



}

@media(min-width: 1340px) and (max-width: 1510px) {
    .sousMenu a {
        text-decoration: none;
        color: #707070;
        font-size: 14px;
        transition-duration: 0.5s;


    }

}

@media(max-width: 1340px) {
    .sousMenu a {
        text-decoration: none;
        color: #707070;
        font-size: 12px;
        transition-duration: 0.5s;


    }

}



.sousMenu a:hover {
    color: #E00034;
    transition-duration: 0.5s;
}

.red {
    color: #E00034;
}


.sousMenu {
    opacity: 0;
    transform: translateX(100vw);
    transition-duration: 0.8s;
    margin-top: 5px;
    margin-bottom: 23px;
}

.sousMenuMove {
    transform: translateX(0vw);
    transition-duration: 0.8s;
}

.sousMenu div {
    margin-left: 10px;
    text-align: center;
}

.marginFormations div {
    margin-left: 0.5%;
    /*margin-left: 60px;*/
}

.smS {
    padding-left: 50px;
}

.marginSolution {
    margin-left: -110px;
}

.marginQuiSommesNous {
    margin-left: 10px;
}

.marginConseil {
    margin-left: 8%;
}




.opacity {
    opacity: 1;
    transition-duration: 0.5s;
}

.animationSousMenu {
    animation-name: animationSousMenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* sens de l'animation*/
    /*animation-fill-mode: backwards;/*etat de debut ou final*/
}

@keyframes animationSousMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*footer*/

.footer {
    width: 100%;
    height: 200px;
    background-color: #C6C6C6;
    font-family: 'Montserrat', sans-serif;
}

.arbo {
    margin-top: 0px;
}

.arbo div {
    margin-top: 10px;
}

.arbo div a {
    color: white;
    font-size: 15px;
}

.arbo div a:hover {
    opacity: 0.8;
    transition-duration: 1s;

}

.contact {
    margin-top: 32px;
}

.contact div {
    margin-top: 0px;
}

.contact div a {
    color: white;
    font-size: 14px;
}

.footer .form-group {
    margin-top: 15px;
}



.footer .form-group label {
    color: white;
    font-size: 14px;
}

.footer .form-group span {
    color: white;
    font-size: 10px;
}

.champDeTexte {
    height: 100px;
    transform: scaleY(1.9);

    border-radius: 6px;
    width: 200px;
    margin-bottom: 10px;

}

.footer form button {
    height: 29px;
    width: 90px;
    border-radius: 9px;
    background-color: white;
    border-color: #707070;
    margin-bottom: 10px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;

}

.footer form button:hover {
    height: 23px;
    background-color: #707070;
    opacity: 0.8;
}

.footer form span {

    color: white;

}
