/*POLICE

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

categorie : roboto
sous-onglet : montserrat
*/

/*le test bootstrap
<div class="test col-lg-1 col-lg-offset-1"></div>

.test{
    width: 100;
    background-color: aqua;
}

menu burger seuil 969

fonction de recherche
*/

/*menu de navigation*/

body {
    margin: 0px;
    padding: 0px;
}

.menuContainer {
    margin: 0px;
    padding: 0px;
    height: 60px;
    z-index: 0;





}


.menu {

    height: 60px;
    margin: 0px 0px 0px 6%;
    padding: 0px;
    position: relative;
    background-color: white;

}

.imgLogo {
    width: 100;
    margin: 0px;
    padding: 0px;
    position: absolute;

}

.imgLogo img {
    width: 65px;
    margin: 0px;
    padding: 0px;
    transition-duration: 2s;
}

@media(max-width: 1200px) {
    .imgLogo img {
        width: 65px;
        margin: 0px;
        padding: 0px;
        transition-duration: 2s;
        transition-property: all;
    }

}

.imgLogo img:hover {
    animation-name: animationLogo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;

    transform-origin: center;
    /* sens de l'animation*/
    /*animation-fill-mode: backwards;/*etat de debut ou final*/
}

@keyframes animationLogo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}


.category {
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

.category a {
    font-size: 17px;
    text-decoration: none;
    color: #878787;
    transition-duration: 0.5s;
    font-weight: 400;
}

@media(max-width: 1180px) {
    .category {
        font-family: 'Montserrat', sans-serif;
        margin-top: 19px;

    }
    .category a {
        font-size: 12px;
        text-decoration: none;
        color: #707070;
        transition-duration: 0.5s;
        font-weight: 400;
    }

}

@media(min-width: 1180px) and (max-width: 1320px) {
    .category {
        font-family: 'Montserrat', sans-serif;
        margin-top: 19px;

    }
    .category a {
        font-size: 15px;
        text-decoration: none;
        color: #707070;
        transition-duration: 0.5s;
        font-weight: 400;
    }

}

@media(min-width: 1320px) and (max-width: 1440px) {
    .category {
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;

    }
    .category a {
        font-size: 17px;
        text-decoration: none;
        color: #707070;
        transition-duration: 0.5s;
    }

}

.menu .category {
    margin-right: -70px;
}

@media(max-width: 1200px) {
    .menu .category {
        margin-right: -50px;
    }

}

@media(max-width: 990px) {
    .menu .category {
        margin-right: -30px;
    }

}

.category a:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
}


.underMenuDiv {
    padding: 0px;

}

.underMenu {
    height: 1.5px;
    margin-top: 0px;
    background-color: #E1E1E1;
}

/*sous menu*/

.secondMenu {
    height: 50px;
    padding-top: 10px;
    padding-left: 23%;
    background-color: white;
    z-index: 2;


}

.sousMenu span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.5s;



}

.sousMenu a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.5s;



}

.sm11 {
    color: #878787;
}

.sm12 {
    color: #878787;
}

.sm13 {
    color: #878787;
}

.sm14 {
    color: #878787;
}

.sm15 {
    color: #878787;
}

.MsousMenu {
    display: none;
}


@media(min-width: 1340px) and (max-width: 1510px) {
    .sousMenu span {
        text-decoration: none;
        color: #707070;
        font-size: 12px;
        transition-duration: 0.5s;
        
        


    }
    
    .red {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
    color: #E00034;
}

}

@media(max-width: 1340px) {
    .sousMenu span {
        text-decoration: none;
        color: #707070;
        font-size: 10px;
        transition-duration: 0.5s;


    }
    
    .red {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
    color: #E00034;
}

}



.sousMenu span:hover {
    color: #E00034;
    transition-duration: 0.5s;
}



@media(min-width: 1340px) and (max-width: 1510px) {
    .sousMenu a {
        text-decoration: none;
        color: #707070;
        font-size: 12px;
        transition-duration: 0.5s;


    }
    
    .red {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
    color: #E00034;
}

}

@media(max-width: 1340px) {
    .sousMenu a {
        text-decoration: none;
        color: #707070;
        font-size: 10px;
        transition-duration: 0.5s;


    }
    .red {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
    color: #E00034;
}

}



.sousMenu a:hover {
    color: #E00034;
    transition-duration: 0.5s;
}


.red {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.5s;
    color: #E00034;
}


.sousMenu {
    opacity: 0;
    transform: translateX(100vw);
    transition-duration: 0.8s;
    margin-top: 5px;
    margin-bottom: 23px;
}

.sousMenuMove {
    transform: translateX(0vw);
    transition-duration: 0.8s;
}

.sousMenu div {
    margin-left: 10px;
    text-align: center;
}

.marginFormations div {
    margin-left: 0.5%;
    /*margin-left: 60px;*/
}

.smS {
    padding-left: 50px;
}

.marginSolution {
    margin-left: -110px;
}

.marginQuiSommesNous {
    margin-left: 10px;
}

.marginConseil {
    margin-left: 8%;
}




.opacity {
    opacity: 1;
    transition-duration: 0.5s;
}

.animationSousMenu {
    animation-name: animationSousMenu;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* sens de l'animation*/
    /*animation-fill-mode: backwards;/*etat de debut ou final*/
}

@keyframes animationSousMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*footer*/

.footer {
    width: 100%;
    height: 200px;
    background-color: #C6C6C6;
    font-family: 'Montserrat', sans-serif;
}

.arbo {
    margin-top: 0px;
    display: inline-block;
}

.arbo div {
    margin-top: 10px;
}

.arbo div a {
    color: white;
    font-size: 15px;
}

.arbo div a:hover {
    opacity: 0.8;
    transition-duration: 1s;

}

.contact {
    display: inline-block;
    margin-top: 10px;
}

.contact > div + div {
    margin-top: 10px;
}


.contact > div + div + div {
    margin-top: 10px;
}

.contact div a {
    color: white;
    font-size: 14px;
}

.footer .form-group {
    margin-top: 15px;
}



.footer .form-group label {
    color: white;
    font-size: 14px;
}

.footer .form-group span {
    color: white;
    font-size: 10px;
}

.champDeTexte {
    height: 100px;
    transform: scaleY(1.9);

    border-radius: 6px;
    width: 200px;
    margin-bottom: 10px;

}

.footer form button {
    height: 29px;
    width: 90px;
    border-radius: 9px;
    background-color: white;
    border-color: #707070;
    margin-bottom: 10px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;

}

.footer form button:hover {
    height: 23px;
    background-color: #707070;
    opacity: 0.8;
}

.footer form span {

    color: white;

}

.deco {
    text-decoration: none;
    color: #707070;
}

.deco:hover {
    text-decoration: none;
    color: #BC1C2A;
}

.network img {
    width: 30px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
    margin-top: 20px;
}

.network {
    display: inline-block;
    margin-left: 10px;
}

.network .face {
    margin-right: 10px;
}


.network img:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}

.genre .h {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

.genre .f {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

input {
    transform: scaleY(1.2);
}

.GroupeMsousMenu {
    display: none;
    text-align: center;
}

@media(min-width: 851px) {
    .burger {
        display: none;
    }
}

@media(max-width: 800px) {
    .footer {
        height: 350px;
    }
}

@media(max-width: 850px) {
    .menuContainer {
        display: none;


    }
    .secondMenu {
        display: none;


    }
    .burgerDiv {
        height: 280px;
        background-color: black;
    }
    .burger {
        position: relative;
        background-color: #E00034;

    }
    .buttonPos {
        position: absolute;
        z-index: 2;
        left: 10px;
        height: 30px;
        opacity: 0;
    }
    .navBackColor1 {
        background-color: #E00034;
        border-color: #E00034;
    }
    .navBackColor3 {
        background-color: white;
        border-color: white
    }
    .navBackColor2 {
        background-color: white;
    }

    .burgerDiv .menuA {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.5s;
        text-decoration: none;
        color: #707070;
        margin-top: 20px;



    }
    .burgerDiv .menuA:hover {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        opacity: 1;
        font-size: 16px;
        transition-duration: 0.5s;
        text-decoration: none;
        color: #E00034;



    }

    .burger h5:hover {
        cursor: pointer;

    }

    .underMenuDiv {
        padding: 0px;

    }

    .underMenu {
        height: 1.5px;
        margin-top: 0px;
        margin-bottom: 20px;
        background-color: #E1E1E1;
    }

    .GroupeMsousMenu {
        display: block;
        text-align: center;
    }

    .bouttonMsousMenu {
        display: inline-block;
        text-align: center;
        border: solid;
        border-radius: 10px;
        border-width: 1px;
        border-color: #E00034;
        transition-duration: 0.5s;
        width: 80px;
        height: 40px;
        margin-left: 2px;
        margin-right: 2px;
    }


    .bouttonMsousMenu:hover {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        border: solid;
        border-radius: 15px;
        border-width: 1.5px;
        border-color: #E00034;
        transition-duration: 0.5s;
        width: 80px;
        height: 40px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .MsmBusiness {

        padding-bottom: px;
    }

    .MsousMenu {
        color: #707070;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        transition-duration: 0.5s;
        margin-top: 14px;
        text-decoration: none;


        text-align: center;


    }

    .MsousMenuBusiness {
        color: #707070;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        transition-duration: 0.5s;
        text-decoration: none;
        transform: translateY(7px);

        text-align: center;
    }
    .MsousMenuF {
        color: #707070;
        font-size: 10px;
        display: inline-block;
        transition-duration: 0.5s;
        margin-left: 15px;
        text-decoration: none;



    }

    .Msm4 {
        margin-top: 10px;

    }

    .Msm5 {
        margin-top: 10px;

    }
    .MsousMenu:hover {
        transition-duration: 0.5s;
        text-decoration: none;
        opacity: 1;


    }
    .MsousMenuF:hover {
        transition-duration: 0.5s;
        text-decoration: none;
        color: #E00034;
        opacity: 1;


    }

    .white2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-decoration: none;
        font-size: 10px;
        transition-duration: 0.5s;
        color: white;
    }

    .red2 {
        transition-duration: 0.5s;
        background-color: #E00034;
    }

    /*
    
    .burger .img{
        position: absolute;
        text-align: center;
       right: 10px;
        top: 0px;

    }
    
    */
    .burger .imgBurger {
        position: absolute;
        text-align: center;
        left: 0px;
        top: 0px;

    }

    .burger .imgBurger img {
        width: 50px;
    }

    .burger .imgBurger h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }
    .contact {
        display: inline-block;

    }

}

Nnone {
    display: none;
}

@media(min-width: 575px) and (max-width: 758px) {
    .contact {
        transform: translateY(-100px);
    }
}

@media(min-width:499px) and (max-width: 575px) {
    .contact {
        transform: translateY(-54px);
    }
}

@media(min-width:480px) and (max-width: 499px) {
    .contact {
        transform: translateY(-4px);
    }
}

@media(min-width:417px) and (max-width: 480px) {
    .contact {
        transform: translateY(-10px);
    }
}

@media(min-width:388px) and (max-width: 415px) {
    .contact {
        transform: translateY(-30px);
        padding-top: -110px;

    }

    @media(max-width: 387px) {
        .footer {
            position: relative;
        }

        .contact {
            transform: translateY(20px);
            position: absolute;
            top: 1110px;
        }

    }
    /*@media(min-width:0px) and (max-width: 356px) {
        .contact {
            transform: translateY(120px);
        }
    }
    */
