body {
    position: relative;
}



.contenuActive {
    position: absolute;
    transform: translateX(0vw);
    transition-property: all;
    transition-duration: 1.5s;
    opacity: 1;
    transition-timing-function: ease-in-out;
}

.contenuNoActive {
    position: fixed;
    transform: translateX(100vw) scale(0.5);
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


.contenuNoActive2 {

    transform: scale(0.5);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.none {
    display: none;
}

.description {
    height: 120px;

    margin-bottom: 0px;
}

.navForm {
    height: 200px;

}

.fleche {
    margin-top: 80px;
    cursor: pointer;
}

.fleche img {
    height: 40px;
}

.trait {
    position: relative;
    background-color: #707070;
    margin-top: 99px;
    height: 1px;
}

.cercleForm {
    border: solid;
    border-radius: 100px;
    border-color: #707070;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    background-color: #707070;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    bottom: -15px;
}

.cercleForm:hover {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    background-color: #BC1C2A;
    border-color: white;
    transform: scale(1.8);
    cursor: pointer;

}

.cercle1 {
    left: 0px;

}

.cercle2 {
    margin-left: 32%;
}

.cercle3 {
    margin-left: 62%;
}

.cercle4 {
    right: 0px;
}

.cercleActive {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    background-color: #BC1C2A;
    border-color: white;
    transform: scale(1.4);
    cursor: pointer;
}


.cercleFormTitres {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-top: 70px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    top: 40px;
}




.titreConseil {
    position: absolute;
    top: -10px;
    margin-left: 29%;
}

.titreSolution {
    position: absolute;
    margin-left: 55%;
    top: -10px;
}

.titreMana {
    position: absolute;
    left: -7px;
    top: -10px;
}

.titreProfile {
    position: absolute;
    top: -10px;
    right: -7px;
}


.navPro {
    text-align: center;
    height: 200px;
}

.navPro2 {
    text-align: center;
    height: 200px;
}

.navPro3 {
    text-align: center;
    height: 200px;
}

.navPro4 {
    text-align: center;
    height: 200px;
}


.programme {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 10px 20px 0px 20px;
    text-align: center;


}

.programme span {
    display: inline-block;
    margin-right: 10px;

}

.navPro2 .programme span {
    font-size: 12px;

}

.programme div {

    padding: 0px;

}

.programme:hover {
    color: #BC1C2A;
    cursor: pointer;

}



.open {
    height: 190px;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.managementContenu {
    margin-top: 10px;
}

.chevron {
    display: block;
    display: inline-block;

}


.bckc {
    height: 300px;
    background-color: aqua;
}

.rckc {
    height: 200px;
    background-color: crimson;
}

.vckc {
    height: 300px;
    background-color: chartreuse;
}

.form {
    height: 460px;
    background-color: #F3F3F3;
    padding-top: 20px;
    margin-bottom: 45px;
    border-radius: 64px;
    border: solid;
    border-width: 1px;
    border-color: #707070;
    box-shadow: 3px 2px 5px #707070;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.form:hover {
    box-shadow: 5px 2px 20px #707070;
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 1s;
}

.description h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
}

.form form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    margin-top: 35px;
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 1s;



}

.champs {
    width: 200px;

}

.champs select {
    height: 40px;
}

.second label {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 300px;
}


.list {
    margin-top: 50px;
}

.listNbrs {
    margin-top: 50px;


}

.listNbrs select {
    width: 30px;
    margin-left: 90%;

}


.list img {
    display: inline-block;
}

.ecartimgF {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 14px;
    display: inline-block;

    margin: 0px 0px 30px 0px;

}


.nbrs {
    text-align: right;
}


.footerPush {
    margin-top: 630px;
    margin-bottom: 0px;
    height: 100px;

}

.sectionNav {
    text-align: center;
    height: 100px;
    position: relative;
}

.bouttonPre {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #BC1C2A;
    color: #BC1C2A;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.bouttonPre:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-radius: 50px;

    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.bouttonSui {


    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: #BC1C2A;
    color: #BC1C2A;
    border-width: 0.5px;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    position: absolute;
    right: 0px;
}

.bouttonSui:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.boutonRep {
    display: inline-block;
    height: 50px;

}

.boutonRep div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid;
    border-color: #BC1C2A;
    border-width: 1px;
    border-radius: 100px;
    margin: 15px 4px 0px 4px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.repActive {
    background-color: #BC1C2A;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.preInvi {
    opacity: 0;
}

.none {
    display: none;
}

/*
.network img {
    width: 30px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.network {
    display: inline-block;
    margin-left: 10px;
}

.network .face {
    margin-right: 10px;
}


.network img:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}

.genre .h {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

.genre .f {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

input {
    transform: scaleY(1.2);
}
*/
