.formations {
    color: #E00034;
}


/*Contenu*/

.contenu .titre {
    text-align: center;



}

.contenu .titre h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}

.contenu .texte {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.titreEtTexte {
    background-color: white;
    border-radius: 100px;
    /*margin-left: 12%;*/
    margin-top: 18px;
    height: 250px;


}

.contenuVente {
    transform: translateX(0vw);
    transform: scale(1);
    transition-duration: 0.2s;
    opacity: 1;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.contenuMove {
    opacity: 0;
    transform: translateX(40vw);
    transform: scale(0.9);
    transition-duration: 0.2s;
    transition-property: all;

    transition-timing-function: ease-in-out;


}

/*
.animationContenu {
    animation-name: animationContenu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* sens de l'animation*/

/*animation-fill-mode: backwards;/*etat de debut ou final*/

}

/*
@keyframes animationContenu {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

.displayNone {
    display: none;
}

.modules {

    /*padding-right: 10%;*/
    text-align: center;
}

.modulesVentes {
    margin-left: %;
}

.modulesFormation {
    margin: auto;
    padding-right: 11%;


}

.module {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 70px;
    display: inline-block;

    margin: 119px 100px 230px 100px;
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.4);
    position: relative;
    background-image: url(../images/82726790-drugs-shopping-cart-flat-vector-icon-with-colored-versions-color-drugs-shopping-cart-icon-variants-w.jpg);

}

.positionImg {
    background-image: url(../images/Position_n+1_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.FlxibilitImg {
    background-image: url(../images/Couleurs_management.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.managementSituImg {
    background-image: url(../images/Management_situa_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.managementMotivImg {
    background-image: url(../images/Management_Moti_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.managementProjetImg {
    background-image: url(../images/Manag_projet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.techniqueImg {
    background-image: url(../images/Technique_vente.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.couleurImg {
    background-image: url(../images/Couleurs_vente.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.assertiveImg {
    background-image: url(../images/Vente_assertive_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.negoImg {
    background-image: url(../images/Nego_vente.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.flexiRelaImg {
    background-image: url(../images/Flexibilte_rela.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.comAssertivImg {
    background-image: url(../images/Communication_assertive.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gestionImg {
    background-image: url(../images/Situations_difficiles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parlerImg {
    background-image: url(../images/Parole_public_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.boardImg {
    background-image: url(../images/G%C3%A9rer_board.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.formateurImg {
    background-image: url(../images/formateur_animateur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.coachImg {
    background-image: url(../images/Formateur_coach_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.formatAssertifImg {
    background-image: url(../images/Formateur_assertif.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}




/*
.moduleVenteOne {
    margin-left: 7%;
}


.two .module {
    background-image: url(../images/Management%20Moti%20button.png);

}


.moduleVenteTwo {
    margin-right: -190px;
}


.three .module {
    background-image: url(../images/Conseils%20associ%C3%A9.png);


}



.four .module {
    background-image: url(../images/D%C3%A9v%20prse.png);
}

.five .module {
    background-image: url(../images/Image%20de%20fond%20test.png);
}
*/

.module:hover {
    transform: scale(1.3);
    /*background-color: #E00034;*/
    transition-duration: 1s;
}

.ex:hover {
    transform: scale(1.3);
    background-color: #E00034;
    transition-duration: 1s;
}


.one:hover .titreModule1 {

    color: #E00034;
    opacity: 1;

    transition-duration: 1s;
}

.two:hover .titreModule2 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.three:hover .titreModule3 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.four:hover .titreModule4 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.five:hover .titreModule5 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.titresModules {
    /*padding-right: 470px;*/
}

.titreModule1 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(vw);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModuleFlex {
    transform-origin: center;
    transform: translateX(-0.2vw);
}


.titreModule2 {
    width: 150px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform-origin: center;
    transform: translateX(-2.5vw);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule3 {
    width: 150px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform-origin: center;
    transform: translateX(-2.5vw);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule4 {
    width: 111px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform-origin: center;
    transform: translateX(-1vw);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModuleCoach {
    transform: translateX(-25%);
}

.titreModuleVenteAssertive {
    transform-origin: center;
    transform: translateX(-0.3vw);
}

.titreModuleVentePublique {
    transform-origin: center;
    transform: translateX(0.1vw);
}


.titreModule5 {
    width: 100px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform-origin: center;
    transform: translateX(-1vw);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule6 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 0.6;

}

.titreModule7 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 0.6;

}


.titreModuleNego {
    transform: translateX(-26%);
}

/*
.fond {
    width: 1095px;
    height: 929px;
    background-image: url(../images/image%20de%20fond%20test%202.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    top: 40px;
    right: 0px;

}
*/

.fond {}

@media(max-width: 1100px) {
    .fond {
        opacity: 0;
        display: none;
    }
}

.imgMana {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/boussole.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgVente {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Vente-nego.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgCom {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Communication.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}

.imgFormateur {
    width: 595px;
    height: 300px;
    top: 150px;
    right: 50px;
    background-image: url(../images/Formateur-formateur.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;

}



.opacityM {
    opacity: 0;
    transition-duration: 0.5s;
}




/*popup*/

.titrePop {
    text-align: left;
    transform: translateX(2vw);
}

.titrePop h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.first {
    text-align: left;
    margin-top: 60px;
    /* margin-top: 60px;*/
    position: relative;
    padding-top: 0px;

}

.fondMpop {
    display: none;
}

.first img {
    width: 47px;

}

.firstImg {

    position: absolute;
    top: 5px;
    left: 6.5%;
}

.first div {
    display: inline-block;
}

.firstTexte {
    text-align: left;
    padding-left: 0px;

}

.firstTexte h2 {
    text-align: left;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #E00034;
    font-size: 18px;

}

.firstTexte p {
    text-align: left;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 18px;

}

.titrePop + div {
    padding-right: 50px;

}

@media(max-width: 665px) {
    .firstTexte p {
        text-align: left;
        padding-left: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #707070;
        font-size: 18px;

    }

}


.second {
    text-align: left;
    margin-top: 30px;
    position: relative;
    padding-top: 0px;
    display: inline-block;

}


.second img {
    width: 47px;
}



.second div {
    display: inline-block;
}


.secondImg {


    position: absolute;
    top: 5px;
    left: 6.5%;
}

.third {
    text-align: left;
    margin-top: 40px;

    padding-top: 0px;

    position: relative;

}


.third img {
    width: 47px;
}



.third div {
    display: inline-block;
}


.thirdImg {
    position: absolute;
    top: 5px;
    left: 6.5%;
}

.sablier {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 67px;
    text-align: center;
}

.sablier img {
    width: 67px;
}

.sablier div {
    margin: auto;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
}

.sablier1 {
    position: absolute;
    bottom: -200px;
    left: -13vw;
    width: 67px;
    text-align: right;
    transform: scale(0.8)
}

.sablier1 img {
    width: 67px;
}

.sablier1 div {
    margin: auto;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    transform: translateY(-30px) translateX(12px);
}

.key {
    display: none;
}



.imgPop {
    height: 220px;
    width: 250px;
    position: absolute;
    top: 7.5vw;
    right: 0vw;
}



/*
.imgPop {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 100px;
}
*/

/*
.imgPop {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 100px;
}
*/

.none {
    display: none;
}



@media(max-width: 850px) {
    .modules {
        display: none;
    }
    .titreEtTexte {
        background-color: white;
        border-radius: 100px;
        margin-bottom: 100px;
        margin-top: 18px;
        height: 600px;

    }
    .contenu .texte {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #707070;
        font-size: 14px;
        margin-top: 40px;
        text-align: left;
    }
    .titreEtTexte {
        /*background-color: white;*/
        border-radius: 100px;
        margin-bottom: 90px;
        padding-top: 0px;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        margin-top: 18px;
    }
    .contenu .titre h1 {

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #E00034;
        font-size: 28px;
    }
    .fondMpop {
        display: block;
        background-color: #F5F5F5;
        height: 619px;
        margin-bottom: 50px;
        padding: 0px;

    }
    .Mpop1 {
        padding-top: 60px;
        height: 440px;
        position: relative;
    }

    .MpopContenuRight {
        position: absolute;
        right: 4%;
        transition-duration: 0.3s;

    }

    .MpopContenuLeft {

        transition-duration: 0.3s;
    }

    .MpopContenuRight:hover {
        transform: scale(1.2);
        transition-property: all;
        transition-duration: 0.3s;
    }

    .MpopContenuLeft:hover {
        transform: scale(1.2);
        transition-property: all;
        transition-duration: 0.3s;
    }


    .MpopContenu {
        text-align: center;
        height: 440px;
        position: relative;
    }
    .MpopContenu div {
        text-align: justify;

    }
    .MpopContenu h1 {
        color: #BC1C2A;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 22px;


    }
    .MpopContenu h3 {
        color: #BC1C2A;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;


    }

    .MpopContenu p {
        color: #707070;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 10px;


    }
    .MpopContenu div {
        margin: 40px 0px;
    }

    .contenuActive {

        transform: translateX(5vw);
        transition-property: all;
        transition-duration: 0.3s;
        opacity: 1;
        transition-timing-function: ease-in-out;
        transform-style: preserve-3d;
    }

    .contenuNoActive {
        position: absolute;
        transform: translateX(100vw) scale(0.5) rotate(10deg);
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transform-style: preserve-3d;
    }
    .displayNone {
        display: none;
    }
    .titreDiv {
        text-align: center;
    }
    .titreDiv div {
        display: inline-block;
    }

    .mobileTestiImg {


        width: 250px;
        height: 250px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mobileQSN {
        background-image: url(../images/Management2.png);
    }

    .mobileMana {
        background-image: url(../images/boussole.png);

    }

    .mobileVente {
        background-image: url(../images/Vente-nego.png);

    }
    .mobileCom {
        background-image: url(../images/Communication.png);

    }
    .mobileFormateur {
        background-image: url(../images/Formation-formateurs.png);

    }

    .MpopContenu {}

    .MpopContenu h1 + div {
        position: relative;
        text-align: left;

    }


    /*.MpopContenu > img{
        width: 80px;
    

    }*/
    .MpopupCercleImg {
        position: absolute;
        top: -100px;
        width: 80px;
        transform-origin: center;
        left: 50%;
        transform: translateX(-40px) scale(1.4);
    }

    .MpopContenu h1 + div + div {
        position: relative;
        text-align: left;

    }

    .MpopContenu h1 + div + div + div {
        position: relative;
        text-align: left;

    }

    .pictoMobile {
        position: absolute;
        top: 0px;
        left: -50px;
        width: 40px;
    }





}
