/*POLICE

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

categorie : roboto
sous-onglet : montserrat
*/

/*le test bootstrap
<div class="test col-lg-1 col-lg-offset-1"></div>

.test{
    width: 100;
    background-color: aqua;
}

menu burger seuil 969

fonction de recherche
*/

a {
    text-decoration: none;
    color: #E00034;

}

a:hover {

    transition-duration: 1s;
    opacity: 0.8;
    text-decoration: none;




}

.blockLeft {
    height: 1000px;
    padding: 0px;
}

.blockCenter {
    height: 1000px;
    padding: 0px;
}

.blockRight {
    height: 1000px;
    padding: 0px;
}

.article {

    padding: 0px;
}

.aLaUne {
    padding: 0px;
}

.aLaUne h1 {
    color: #E00034;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0;
}


.imgUne {
    height: 300px;

    background-image: url(../images/corey-agopian-257152.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.texteUne {

    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;


}

.texteUne h2 {
    color: #E00034;
    font-family: 'Montserrat', sans-serif;


}

.texteUne p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #707070;


}

.chap {
    padding: 0px;
}

.chap div {
    padding: 0px;
}

.chap p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #707070;
    font-weight: 500;


}

.texteUne a {
    right: 0px;
    bottom: 0px;
    position: absolute;
    color: #707070;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 1s;




}

.texteUne a:hover {

    transition-duration: 1s;
    color: #E00034;




}

.texteUne .left {
    padding: 0px 5px 0px 0px;
    margin: auto;


}

.texteUne .right {
    padding: 0px 0px 0px 5px;
    margin-bottom: 20px;



}


.side {
    height: 320px;
    padding: 0px;

}

.sideBottom {
    height: 320px;
    padding: 0px;
    margin-top: 100px;

}

.sideBottom:hover .imgSideBottom {
    opacity: 0.5;
    transition-duration: 0.5s;
}

.side:hover .imgSide {
    opacity: 0.5;
    transition-duration: 0.5s;

}

.imgSide {
    height: 100px;
    background-image: url(../images/Audit1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgOne {
    height: 100px;
    background-image: url(../images/Audit1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgTwo {
    height: 100px;
    background-image: url(../images/Coaching.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgThree {
    height: 100px;
    background-image: url(../images/Consulting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgFour {
    height: 100px;
    background-image: url(../images/image%20de%20fond%20test%202.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgSix {
    height: 100px;
    background-image: url(../images/joanna-kosinska-129039-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;

}

.imgFive {
    height: 100px;
    background-image: url(../images/corey-agopian-257152.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgSideBottom {
    height: 200px;
    background-image: url(../images/jason-blackeye-265661.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}


.sideBottom .pSide {
    padding-left: 10px;

}

.pSide {

    padding-left: 3px;
    margin-top: 0px;


}

.pSide .gras {
    font-family: 'Roboto', sans-serif;
    color: #E00034;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 0px;

}

.pSide p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;

}


.sideTexte {
    height: 100px;
    background-color: black;
}

.articleSec {
    margin-top: 350px;
}

.galerie {
    height: 450px;
    background-color: bisque;
    padding: 0px;

    margin-top: 350px;
}

.imgGalerie {
    height: 112.5px;
    border: solid;
    border-color: white;
    background-image: url(../images/images1.jpg);



}
