.formations {
    color: #E00034;
}

.surBrilliance {
    color: #E00034;
}

/*Contenu*/

.contenu .titre {
    text-align: center;

    margin-top: 61px;

}

.contenu .titre h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}

.contenu .texte {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
}

.titreEtTexte {
    background-color: white;
    border-radius: 100px;
    margin-left: 12%;

}

.contenuVente {
    transform: translateX(0vw);
    transform: scale(1);
    transition-duration: 0.2s;
    opacity: 1;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.contenuMove {
    opacity: 0;
    transform: translateX(40vw);
    transform: scale(0.9);
    transition-duration: 0.2s;
    transition-property: all;

    transition-timing-function: ease-in-out;


}

/*
.animationContenu {
    animation-name: animationContenu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* sens de l'animation*/

/*animation-fill-mode: backwards;/*etat de debut ou final*/

}

/*
@keyframes animationContenu {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

.displayNone {
    display: none;
}

.modules {
    margin: auto;
    padding-right: 10%;
}

.modulesFormation {
    margin: auto;
    padding-right: 11%;


}

.module {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 70px;
    display: inline-block;
    margin-top: 119px;
    margin-bottom: 230px;
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.1);
    position: relative;
    background-image: url(../images/82726790-drugs-shopping-cart-flat-vector-icon-with-colored-versions-color-drugs-shopping-cart-icon-variants-w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/*
.moduleVenteOne {
    margin-left: 7%;
}
*/
.two .module {
    background-image: url(../images/Conseil%20Pr%C3%A9s.png);

}

/*
.moduleVenteTwo {
    margin-right: -190px;
}
*/

.three .module {
    background-image: url(../images/Conseils%20associ%C3%A9.png);


}



.four .module {
    background-image: url(../images/D%C3%A9v%20prse.png);
}

.five .module {
    background-image: url(../images/Image%20de%20fond%20test.png);
}



.module:hover {
    transform: scale(1.3);
    background-color: #E00034;
    transition-duration: 1s;
}

.ex:hover {
    transform: scale(1.3);
    background-color: #E00034;
    transition-duration: 1s;
}


.one:hover .titreModule1 {

    color: #E00034;
    opacity: 1;

    transition-duration: 1s;
}

.two:hover .titreModule2 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.three:hover .titreModule3 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.four:hover .titreModule4 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.five:hover .titreModule5 {

    color: #E00034;
    opacity: 1;
    transition-duration: 1s;
}

.titresModules {
    /*padding-right: 470px;*/
}

.titreModule1 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-24%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModuleFlex {
    transform: translateX(-30%);
}


.titreModule2 {
    width: 150px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule3 {
    width: 150px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule4 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModuleCoach {
    transform: translateX(-25%);
}

.titreModuleVenteAssertive {
    transform: translateX(-25%);
}

.titreModule5 {
    width: 100px;
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 1;

}

.titreModule6 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 0.6;

}

.titreModule7 {
    position: absolute;
    top: 90px;
    text-align: center;
    transform: translateX(-35%);
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    transition-duration: 1s;
    opacity: 0.6;

}


.titreModuleNego {
    transform: translateX(-26%);
}

/*
.fond {
    width: 1095px;
    height: 929px;
    background-image: url(../images/image%20de%20fond%20test%202.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
    top: 40px;
    right: 0px;

}
*/

.fond {
    width: 600px;
    height: 433px;
    background-image: url(../images/Consulting.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 1;
    top: 180px;
    right: 100px;

}





.opacityM {
    opacity: 0;
    transition-duration: 0.5s;
}




/*popup*/

.titrePop {
    text-align: left;
}

.titrePop h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.first {
    text-align: left;
    margin-top: 60px;
    /* margin-top: 60px;*/
    position: relative;
    padding-top: 0px;

}

.first img {
    width: 67px;

}

.firstImg {

    position: absolute;
    top: 0px;
}

.first div {
    display: inline-block;
}

.firstTexte {
    text-align: left;
    padding-left: 0px;

}

.firstTexte h2 {
    text-align: left;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #E00034;
    font-size: 18px;

}

.firstTexte p {
    text-align: left;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 18px;

}

@media(max-width: 665px) {
    .firstTexte p {
        text-align: left;
        padding-left: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #707070;
        font-size: 18px;

    }

}


.second {
    text-align: left;
    margin-top: 30px;
    position: relative;
    padding-top: 0px;
    display: inline-block;

}


.second img {
    width: 67px;
}



.second div {
    display: inline-block;
}


.secondImg {


    position: absolute;
    top: 0px;
}

.third {
    text-align: left;
    margin-top: 40px;

    padding-top: 0px;

    position: relative;

}


.third img {
    width: 67px;
}



.third div {
    display: inline-block;
}


.thirdImg {
    position: absolute;
    top: 0px;
}

.sablier {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 67px;
    text-align: center;
}

.sablier img {
    width: 67px;
}

.sablier div {
    margin: auto;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #707070;
    font-size: 15px;
}

.key {
    display: none;
}

.imgPop {
    background-color: black;
    background-image: url(../images/Consulting.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    position: absolute;
    top: 135px;
    right: 20px;
}
