/*POLICE

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

categorie : roboto
sous-onglet : montserrat
*/

/*le test bootstrap
<div class="test col-lg-1 col-lg-offset-1"></div>

.test{
    width: 100;
    background-color: aqua;
}

menu burger seuil 969

fonction de recherche
*/

.blockLeft {
    height: 1100px;
    padding: 0px;

}

.blockLeft2 {
    height: 1100px;
    padding: 0px;


}

.n {
    display: none;
}

.blockCenter {
    height: 1100px;
    padding: 0px;
}

.blockRight {
    height: 1100px;
    padding: 0px;
}

.aLaUne {
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.aLaUne h1 {
    color: #E00034;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0px;

}


.imgUne {
    height: 300px;

    background-image: url(../images/corey-agopian-257152.jpg);
    background-size: contain;
}

.texteUne {
    margin-top: 10px;

    padding: 10px;


}

.texteUne h2 {
    color: #E00034;
    font-family: 'Montserrat', sans-serif;


}

.texteUne p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #707070;


}

.texteUne a {
    right: 0px;
    bottom: 10px;
    position: absolute;


    font-size: 14px;
    transition-duration: 1s;




}

a:hover {

    transition-duration: 1s;
    opacity: 0.8;
    text-decoration: none;




}

.texteUne div {
    padding: 0px;
    margin: auto;


}

.side {
    height: 330px;
    padding: 0px;
    margin-bottom: 10px;

}

a {
    text-decoration: none;
    color: #E00034;

}

.sideBottom {
    height: 280px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
    background-image: url(../images/images1.jpg);
    background-size: cover;

}

.sideBottom:hover .imgSideBottom {
    opacity: 0.5;
    transition-duration: 0.5s;
}

.side:hover .imgSide {
    opacity: 0.5;
    transition-duration: 0.5s;

}

.img {}

.imgSide {
    height: 100px;
    background-image: url(../images/Audit1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition-duration: 0.5s;
}

.imgOne {
    height: 100px;
    background-image: url(../images/images1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.imgTwo {
    height: 100px;
    background-image: url(../images/images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.imgThree {
    height: 100px;
    background-image: url(../images/t%C3%A9l%C3%A9chargement.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.imgFour {
    height: 100px;
    background-image: url(../images/image%20de%20fond%20test%202.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.imgSix {
    height: 100px;
    background-image: url(../images/joanna-kosinska-129039-unsplash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;

}

.imgFive {
    height: 100px;
    background-image: url(../images/corey-agopian-257152.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.imgSideBottom {
    height: 200px;
    background-image: url(../images/jason-blackeye-265661.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.sideBottom .pSide {
    padding-left: 10px;

}

.pSideTitreTop {

    padding-left: 3px;
    margin: 0px 0px 10px 0px;
    padding-top: 0px;
}

.pSideTitreBut {

    padding-left: 3px;
    margin: 10px 0px 10px 0px;
}

.pSide {

    padding-left: 3px;
    margin: 10px 0px 10px 0px;
}

.pSide .gras {
    font-family: 'Roboto', sans-serif;
    color: #E00034;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 0px;

}

.pSide p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;

}

.sideBottom .pSide2 {
    padding-left: 10px;

}

.pSide2 {

    padding-left: 3px;
    margin: 0px 0px 10px 0px;
}

.pSide2 .gras {
    font-family: 'Roboto', sans-serif;
    color: #E00034;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 0px;

}

.pSide2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;

}


.sideTexte {
    height: 100px;
    background-color: black;
}

.galerie {

    text-align: center;
    padding: 0px;
    margin-top: 40px;
}

.imgGalerie {
    height: 132px;
    border: solid;
    border-color: white;
    background-image: url(../images/images1.jpg);
    display: inline-block;



}

.pSideTitreTop a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #E00034;
    font-weight: 700;
}

.pSideTitreBut a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #E00034;
    font-weight: 700;
}

.pSide a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #E00034;
    font-weight: 900;
}

.pSide2 a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #E00034;
    font-weight: 900;
}

@media(min-width: 992px) and (max-width: 1360px) {

    .side {

        padding-left: 3px;
        margin: 0px 0px 140px 0px;
    }
    .contenu {
        margin-bottom: 460px;
    }

}

@media(max-width: 992px) {
    .galerie {
        text-align: center;
    }

    .blockLeft {
        height: 1100px;
        padding: 0px;
        display: none;

    }
    .aLaUne h1 {
        color: #E00034;
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding: 0px;

    }

    .texteUne {
        margin-top: 10px;
        padding-bottom: 10px;



    }

    .texteUne p {
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #707070;


    }

    .texteUne a {
        right: 0px;
        bottom: 0px;
        position: absolute;


        font-size: 14px;
        transition-duration: 1s;




    }


    .side {
        height: 250px;
        padding: 0px;
        margin-bottom: 10px;

    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .blockLeft2 {

        transform: translateY(-800px);
    }
}

@media(min-width: 575px) and (max-width: 768px) {
    .blockLeft2 {

        transform: translateY(-1020px);
    }

}

@media(min-width: 575px) and (max-width: 992px) {
    .side {

        padding-left: 3px;
        margin: 0px 0px 110px 0px;
    }
    .blockLeft2 {
        height: 800px;
        padding: 0px;
        display: inline-block;

    }
    .blockCenter {
        height: 1000px;
        padding: 0px;
        margin-bottom: 100px
    }
    .blockRight {
        height: 800px;
        padding: 0px;
        display: inline-block;
    }

}

@media(min-width: 992px) {

    .blockLeft2 {
        height: 1100px;
        padding: 0px;
        display: none;


    }
}

@media(max-width: 548px) {

    .side {

        padding-left: 3px;
        margin: 0px 0px 170px 0px;
    }
    .contenu {
        margin-bottom: 250px;
    }
    .blockCenter {
        height: 1400px;
        padding: 0px;
    }

}
