/*POLICE

font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

categorie : roboto
sous-onglet : montserrat
*/

/*le test bootstrap
<div class="test col-lg-1 col-lg-offset-1"></div>

.test{
    width: 100;
    background-color: aqua;
}

menu burger seuil 969

fonction de recherche
*/

.aLaUne {
    padding: 0px;
}

.aLaUne h1 {
    color: #E00034;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.imgUne {
    height: 300px;
    background-color: black;
}

.texteUne {
    height: 300px;
    padding: 0px;
    

}

.texteUne h2 {
    color: #E00034;
    font-family: 'Montserrat', sans-serif;


}

.texteUne p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #707070;


}

.texteUne a {
    right: 0px;
    bottom: 0px;
    position: absolute;
    color: #707070;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 1s;




}

.texteUne a:hover {

    transition-duration: 1s;
    color: #E00034;




}

.texteUne div {
    padding: 10px;
    margin: auto;


}

.side {
    height: 320px;
    padding: 0px;

}

.sideBottom {
    height: 320px;
    padding: 0px;
    margin-top: 100px;

}

.imgSide {
    height: 100px;
    background-image: url(../images/Audit1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.imgSideBottom {
    height: 200px;
    background-image: url(../images/Audit1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.pSide {

    padding-left: 3px;
    margin-top: 5px;

}

.pSide span {
    font-family: 'Roboto', sans-serif;
    color: #E00034;
    font-weight: 700;
    font-size: 14px;

}

.pSide p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;

}

.sideTexte {
    height: 100px;
    background-color: black;
}
