body {
    position: relative;
}


.contenuActive {
    position: absolute;
    transform: translateX(0vw);
    transition-property: all;
    transition-duration: 1s;
    opacity: 1;
    transition-timing-function: ease-in-out;
}

.contenuNoActive {
    position: fixed;
    transform: translateX(100vw) scale(0.5);
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.description {
    height: 150px;

    margin-bottom: 5px;
}

.form {
    height: 400px;
    background-color: #F3F3F3;
    padding-top: 20px;
    margin-bottom: 45px;
    border-radius: 64px;
    border: solid;
    border-width: 1px;
    border-color: #707070;
    box-shadow: 3px 2px 5px #707070;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.form:hover {
    box-shadow: 5px 2px 20px #707070;
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 1s;
}

.description h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
}

.form form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    margin-top: 18%;
    transform: scale(1.7);
    transition-property: all;
    transition-duration: 1s;



}

.champs {
    width: 200px;

}

.champs select {
    height: 40px;
}

.second label {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 300px;
}






.footerPush {
    margin-top: 580px;
    margin-bottom: 0px;
    height: 100px;

}

.sectionNav {

    height: 100px;
}

.bouttonPre {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: #707070;
    border-width: 1px;
    color: #707070;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.5s;
    transition-property: all;
}

.bouttonPre:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.bouttonSui {


    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: #707070;
    color: #707070;
    border-width: 0.5px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.5s;
    transition-property: all;
}

.bouttonSui:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.boutonRep {

    height: 50px;
    text-align: center;
}

.boutonRep div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid;
    border-color: #707070;
    border-width: 1px;
    border-radius: 100px;
    margin: 15px 4px 0px 4px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.repActive {
    background-color: #707070;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.preInvi {
    opacity: 0;
}


/*
.network img {
    width: 30px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.network {
    display: inline-block;
    margin-left: 10px;
}

.network .face {
    margin-right: 10px;
}


.network img:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}

.genre .h {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

.genre .f {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

input {
    transform: scaleY(1.2);
}
*/
