body {
    position: relative;
}

contenu2 {
    padding: 0px
}


.contenuActive {
    position: absolute;
    transform: translateX(0vw);
    transition-property: all;
    transition-duration: 1.5s;
    opacity: 1;
    transition-timing-function: ease-in-out;
}

.contenuNoActive {
    position: fixed;
    transform: translateX(100vw) scale(0.5);
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


.contenuNoActive2 {

    transform: scale(0.5);
    opacity: 0;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.none {
    display: none;
}

.description {
    height: 120px;

    margin-bottom: 0px;
}

.navForm {
    height: 200px;

}

.fleche {
    margin-top: 80px;
    cursor: pointer;
}

.FD {
    text-align: right
}

.FG {
    text-align: left;
}

.fleche img {
    height: 40px;
}

.trait {
    position: relative;
    background-color: #707070;
    margin-top: 99px;
    height: 1px;

}

.cercleForm {
    border: solid;
    border-radius: 100px;
    border-color: #707070;
    width: 25px;
    height: 25px;
    position: absolute;
    text-align: center;
    background-color: #707070;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    bottom: -12.5px;
}

.cercleForm:hover {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    background-color: #BC1C2A;
    border-color: white;
    transform: scale(1.8);
    cursor: pointer;

}

.cercle1 {
    left: 0px;

}

.cercle2 {
    margin-left: 32%;
}

.cercle3 {
    margin-left: 62%;
}

.cercle4 {
    right: 0px;
}

.cercleActive {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    background-color: #BC1C2A;
    border-color: white;
    transform: scale(1.4);
    cursor: pointer;
}


.cercleFormTitres {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-top: 70px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    top: 40px;
}




.titreConseil {
    position: absolute;
    top: -10px;
    margin-left: 29%;
}

.titreSolution {
    position: absolute;
    margin-left: 55%;
    top: -10px;
}

.titreMana {
    position: absolute;
    left: -7px;
    top: -10px;
}

.titreProfile {
    position: absolute;
    top: -10px;
    right: -7px;
}


.navPro {
    text-align: center;
    height: 200px;
}

.navPro2 {
    text-align: center;
    height: 100px;
    position: relative;
}

.navPro3 {
    text-align: center;
    height: 200px;
}

.navPro4 {
    text-align: center;
    height: 200px;
}


.programme {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin: 10px 20px 0px 20px;
    text-align: center;
    position: relative;



}

.P {
    transform: translateY(-8vw);

}

.P4 {
    transform: translateY(-7vw);

}

.P5 {
    transform: translateY(-8vw);

}

.P3 {
    transform: translateY(-5vw);

}



.fixed {
    position: absolute;

}

.programme span {
    display: inline-block;
    margin-right: 10px;

}

.navPro2 .programme span {
    font-size: 12px;

}

.programme div {

    padding: 0px;

}

.programme div img {
    width: 15px;
    position: absolute;

    right: -8px;
}

.programme .contenuMana:hover {
    color: #BC1C2A;
    cursor: pointer;

}

.programme .contenuVent:hover {
    color: #BC1C2A;
    cursor: pointer;

}

.programme .contenuComunication:hover {
    color: #BC1C2A;
    cursor: pointer;

}

.programme .contenuFormateur:hover {
    color: #BC1C2A;
    cursor: pointer;

}

.programme div div span:hover {
    color: #BC1C2A;
    cursor: pointer;

}



.open {

    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.managementContenu {
    margin-top: 10px;
}

.chevron {
    display: block;
    display: inline-block;
    width: 25px;


}

.chevronRotate {
    transform: rotate(180deg);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}


.bckc {
    height: 300px;
    background-color: aqua;
}

.rckc {
    height: 200px;
    background-color: crimson;
}

.vckc {
    height: 300px;
    background-color: chartreuse;
}



/*

.form {
    height: 460px;
    background-color: #F3F3F3;
    padding-top: 20px;
    margin-bottom: 45px;
    border-radius: 64px;
    border: solid;
    border-width: 1px;
    border-color: #707070;
    box-shadow: 3px 2px 5px #707070;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.form:hover {
    box-shadow: 5px 2px 20px #707070;
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 1s;
}

.description h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
}

.form form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    margin-top: 35px;
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 1s;
    
    



}

.pastille {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
}

.pastille img {
    width: 70px;
}

.champs {
    width: 200px;

}

.champs select {
    height: 40px;
}

.second label {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 300px;
}

*/

.description {
    height: 130px;

    margin-bottom: 5px;
}

.form {
    height: 550px;
    background-color: #F3F3F3;
    margin-bottom: 45px;

    border-radius: 64px;
    border: solid;
    border-width: 1px;
    border-color: #707070;
    box-shadow: 3px 2px 5px #707070;
    padding-top: 8px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

/*.form:hover {
    box-shadow: 5px 2px 20px #707070;
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 1s;
}*/

.form > div {
    margin-top: 0px;
}

.description h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #E00034;
    font-size: 42px;
}



.description p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
}

.form form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;

    transform: scale(1.2);
    transition-property: all;
    transition-duration: 1s;

    margin-top: 8%;
    transform: scale(1.18);
    transition-property: all;
    transition-duration: 1s;



}

.champs {
    width: 100%;

}

.champs select {
    height: 40px;
}

.second label {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 300px;
}

.second button {
    height: 25px;
    border: solid;
    border-width: 0.5px;
    border-color: #707070;
}

.pastille {

    top: 10px;
    padding-left: 30px;
    display: block;
    padding-top: 0px;

}

.pastille img {
    width: 70px;
}

/**/

.list {
    margin-top: 50px;
}

.listNbrs {
    margin-top: 50px;


}

.listNbrs textarea {
    width: 39px;
    margin-left: 90%;

}


.list img {
    display: inline-block;
}

.ecartimgF {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 14px;
    display: inline-block;

    margin-left: 30px;
    margin-bottom: 33px;

}

.ecart {
     margin-bottom: 33px;
    
}


.nbrs {
    text-align: right;
}


.footerPush {
    margin-top: 630px;
    margin-bottom: 0px;
    height: 100px;

}

.sectionNav {
    text-align: center;
    height: 100px;
    position: relative;
}

.bouttonPre {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-color: #BC1C2A;
    color: #BC1C2A;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.bouttonPre:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-width: 0.5px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.bouttonSui {


    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: #BC1C2A;
    color: #BC1C2A;
    border-width: 0.5px;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    position: absolute;
    right: 0px;
    top: 0px
}

.bouttonSui:hover {


    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: solid;
    border-color: white;
    color: white;
    background-color: #BC1C2A;
    border-width: 0.5px;
    border-radius: 50px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.boutonRep {
    display: inline-block;
    height: 50px;

}

.boutonRep div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid;
    border-color: #BC1C2A;
    border-width: 1px;
    border-radius: 100px;
    margin: 15px 4px 0px 4px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.repActive {
    background-color: #BC1C2A;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.preInvi {
    opacity: 0;
}

.none {
    display: none;
}

/*
.network img {
    width: 30px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}

.network {
    display: inline-block;
    margin-left: 10px;
}

.network .face {
    margin-right: 10px;
}


.network img:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}

.genre .h {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

.genre .f {
    margin-left: 20px;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}

input {
    transform: scaleY(1.2);
}
.form {
    height: 500px;
    background-color: #F3F3F3;
    margin-bottom: 45px;
    margin-top: 130px;
    border-radius: 64px;
    border: solid;
    border-width: 1px;
    border-color: #707070;
    box-shadow: 3px 2px 5px #707070;
    padding-top: 8px;
    transform: scale(1);
    transition-property: all;
    transition-duration: 1s;
}  .fleche {
        display: none;
    }

*/

@media(max-width: 1100px) {
    .fleche {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .pastille {

        top: 10px;
        padding-left: 30px;
        transform: translateY(-100px);
        padding-top: 0px;

    }

    .form {
        height: 500px;
        background-color: #F3F3F3;
        margin-bottom: 45px;
        margin-top: 130px;
        border-radius: 64px;
        border: solid;
        border-width: 1px;
        border-color: #707070;
        box-shadow: 3px 2px 5px #707070;

        transform: scale(1) translateY(00px);
        transition-property: all;
        transition-duration: 1s;
    }


    .f {
        transform: scale(1) translateY(-300px);
    }
}

@media(min-width: 577px) and (max-width: 767px) {
    .contenu1 .form form {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #707070;

        transform: scale(1.2) translateY(-100px);
        transition-property: all;
        transition-duration: 1s;

        margin-top: 8%;
        transform: scale(1.18);
        transition-property: all;
        transition-duration: 1s;



    }

    .form {
        height: 500px;
        background-color: #F3F3F3;
        margin-bottom: 45px;
        margin-top: 130px;
        border-radius: 64px;
        border: solid;
        border-width: 1px;
        border-color: #707070;
        box-shadow: 3px 2px 5px #707070;
        padding-top: 8px;
        transform: translateY(-200px);
        transition-property: all;
        transition-duration: 1s;
    }
    .footerPush {
        margin-top: 730px;
        margin-bottom: 0px;
        height: 100px;

    }
}
/*
@media(min-width: 281px) and (max-width: 576px) {


    .titreConseil {
        position: absolute;
        top: -10px;
        margin-left: 29%;
    }

    .titreSolution {
        position: absolute;
        margin-left: 55%;
        top: -10px;
    }

    .titreMana {
        position: absolute;
        left: -7px;
        top: -10px;
    }

    .titreProfile {
        position: absolute;
        top: -10px;
        right: -7px;
    }
}
*/

@media(max-width: 576px) {
    .pastille {
        opacity: 1;
        transform: scale(0.8)
    }

    .form {
        height: 650px;
        background-color: #F3F3F3;
        margin-bottom: 45px;
        border-radius: 64px;
        border: solid;
        border-width: 1px;
        border-color: #707070;
        box-shadow: 3px 2px 5px #707070;
        transform: translateY(-180px) scale(0.9);
        transition-property: all;
        transition-duration: 1s;
    }
    .footerPush {
        margin-top: 730px;
        margin-bottom: 0px;
        height: 100px;

    }
    .trait {
        transform: rotate(90deg) translateY(34vw);

    }
    .cercleFormTitres {
        transform: rotate(-90deg) translateX(140px) scale(0.9);

    }
    .navPro3 {
        transform: translateY(-150px) translateX(90px) scale(0.8)
    }
    .navPro {
        transform: translateY(-150px) translateX(90px) scale(0.8)
    }
    .navPro2 {
        transform: translateY(-150px) translateX(90px) scale(0.8)
    }
    .navPro4 {
        transform: translateY(-150px) translateX(90px) scale(0.8)
    }

    .cercle1 {
        left: 0px;

    }

    .cercle2 {
        margin-left: 25%;
    }

    .cercle3 {
        margin-left: 55%;
    }

    .cercle4 {
        right: 0px;
    }

    .cercleFormTitres {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        margin-top: 70px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        top: 40px;
    }




    .titreConseil {
        position: absolute;
        top: -10px;
        margin-left: 19%;
    }

    .titreSolution {
        position: absolute;
        margin-left: 43%;
        top: -10px;
    }

    .titreMana {
        position: absolute;
        left: -7px;
        top: -10px;
    }

    .titreProfile {
        position: absolute;
        top: -10px;
        right: -7px;
    }
    .ecartimgF {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    display: inline-block;

    margin-left: 30px;
    margin-bottom: 33px;

}
}


@media(max-width: 850px) {

    .pastille {

        top: 0px;
        padding-left: 0px;

    }

    .description {
        height: 200px;

        margin-bottom: 75px;
    }
    .description h1 {

        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #E00034;
        font-size: 38px;
    }



    .description p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #707070;
        font-size: 14px;
        margin-top: 40px;
    }


}

@media(max-width: 340px) {
    .titreSolution {
        width: 140px;
        position: absolute;
        margin-left: 19%;
        top: -16px;

    }
}

@media(max-width: 376px) {


    .bouttonPre {


        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        border: solid;
        border-width: 1px;
        border-color: #BC1C2A;
        color: #BC1C2A;
        border-radius: 50px;
        width: 110px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
        transition-duration: 0.5s;
        transition-property: all;
        position: absolute;
        left: 0px;
        top: -40px;

        z-index: 1;
    }
    .bouttonSui {


        font-family: 'Montserrat', sans-serif;

        font-weight: 400;
        font-size: 16px;
        border: solid;
        border-color: #BC1C2A;
        color: #BC1C2A;
        border-width: 0.5px;
        border-radius: 50px;
        width: 110px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
        transition-duration: 0.5s;
        transition-property: all;
        position: absolute;
        right: 0px;
        top: -40px
    }
}
